
<main>
    <!-- qualification window -->
    <div class="modal fade" id="nicknameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color:#393737">
                <div class="modal-header" id="modalHeader">
                    <h2 class="modal-title" id="exampleModalLongTitle">You are in the top 8!</h2>
                </div>
                <div id="modalBody">
                    <div class="modal-body" id="modalBodyText">
                        Enter your nickname to appear in the ranking.
                    </div>
                    <div class="form-group" id="nicknameForm">
                        <input type="text" class="form-control" id="nickname">
                    </div>
                </div>
                    <button type="button" class="btn btn-secondary modalButton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary modalButton" id="okButton">OK</button>
            </div>
        </div>
    </div>
    <!-- menu -->
    <section>
        <div id="mainMenuSection">
            <div class="horizontalMenu"></div>
            <nav>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button id="playButton" class="menuButton">PLAY</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button id="rankingButton" class="menuButton">RANKING</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button id="aboutButton" class="menuButton">ABOUT</button>
                    </div>
                </div>

            </nav>
        </div>
    </section>

    <!-- game -->
    <section>
        <div id="boardSection">
            <div class="row">
                <nav>
                    <div class="horizontalMenu col-md-10 col-md-offset-1">
                        <div id="randomShips" class="horizontalMenuButton">Random ships</div>
                        <div id="startGame" class="unclickableButton">Start game</div>
                        <div id="randomShot" class="unclickableButton">Random shot</div>
                        <div id="newGame" class="unclickableButton">New game</div>
                        <div id="goToMainMenu" class="horizontalMenuButton" style="border:none">Main menu</div>
                    </div>
                </nav>
            </div>

            <div id="board">
                <div class="row">
                    <div id="playerboard" class="smallBoard col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2"></div>

                    <div id="AIboard" class="smallBoard col-xs-10 col-xs-offset-1 col-md-4"></div>
                </div>
            </div>

            <div class="row">
                <div id="history" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <div id="historyInfo" style="text-align:left"></div>
                    Welcome to Pirate Wars! <br />
                    Add random ships to start. <br />
                </div>
            </div>
        </div>
    </section>

    <!-- ranking -->
    <section>
        <div id="rankingSection">

            <div class="row">
                <nav>
                    <div class="horizontalMenu col-md-10 col-md-offset-1">
                        <div id="goFromRankingToMainMenu" class="horizontalMenuButton" style="border-left:2px groove #ffffff">Main menu</div>
                    </div>
                </nav>
            </div>

            <div class="row">
                <div id="rankingTable" class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="topCell col-sm-1" style="border:none"></div>
                        <div class="topCell col-sm-1"></div>
                        <div class="topCell col-mid-2 col-sm-3">PLAYER</div>
                        <div class="topCell col-sm-2">SHOTS</div>
                        <div class="topCell col-sm-2">TIME</div>
                        <div class="topCell col-sm-2" style='border-right:none'>DATE</div>
                        <div class="topCell col-mid-2 col-sm-1" style="border:none"></div>
                    </div>
                    <div id="rankingTableContent">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- readme -->
    <section>
        <div id="aboutSection">
            <div class="row">
                <nav>
                    <div class="horizontalMenu col-md-10 col-md-offset-1">
                        <div id="goFromAboutToMainMenu" class="horizontalMenuButton" style="border-left:2px groove #ffffff">Main menu</div>
                    </div>
                </nav>
            </div>

            <div class="row">
                <div id="aboutTable" class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="row">
                        <h2>About the project</h2>
                        <p>
                            Pirate Wars is a website application containing two parts: game and ranking. Game is commonly known under the name
                            "Battleships", which purpose is to sink all opponent's ships. Application enables user to generate a board with randomly 
                            placed ships and then play against AI opponent. After the end of the game player may enter their nick to appear in 
                            the ranking, which consists of 8 best games listed by number of shots used to win.
                        </p>
                        <hr />
                        <h4>GAME</h4>
                        <p>
                            Main aim is for the game to follow the rules of "Battleships". Those are:
                        </p>
                        <ul>
                            <li>ships may not adhere with their flanks or peaks,</li>
                            <li>if a ship built of multiple elements is hit the shot element is marked as "shot",</li>
                            <li>if all elements of a ship are hit the whole ship is marked as "drowned",</li>
                            <li>hitting a ship gives another opportunity to shoot,</li>
                            <li>player who sunk all opponent's ships first is declared a winner.</li>
                        </ul>
                        <p>
                            First problem that appears is how to place the ships on a board. It concerns not only the first presented rule of
                            "Battleships" but also that ship may not start at the end of the board and appear on the other side, resulting in it being
                            "cut" into two smaller ships. To prevent ships from adhering after each created ship all tiles around it are being blocked.
                            This deletes these tiles from the set of tiles available to being any part of a ship. Secondly, to prevent ships from being
                            "cut", each tile selected to be a starting point for a ship is being checked if it is not too close to boarder given
                            the number of elements and the drawn direction of expansion. If it is too close then a new starting point is being drawn.
                        </p>
                        <p>
                            Second problem is shooting and sinking ships, eventually leading to the end of the game. The aim is to prevent user 
                            from cheating by checking AI tiles marked as "ship" in a browser. It is resolved by sending a request to the server 
                            each time player or AI shoots. The server stores all information about user and AI boards and answers if there is 
                            a miss or hit, and if it is a hit whether it is a shot or drowned. By sending information only about one tile 
                            no information about the other tiles are disclosed to the user.
                        </p>
                        <hr />
                        <h4>AI</h4>
                        <p>
                            It is not hard to win against AI which shoots randomly. The goal is to make the game more challenging by making smarter
                            AI opponent. Two problems have to be solved to achieve this goal. First, after hitting a ship AI should shoot at tiles 
                            next to the previous tile as long as the ship is drowned. Second, shooting tiles next to or at the peaks of a drowned 
                            ship should be blocked, because according to the rules of the game no ships can adhere.
                        </p>
                        <p>
                            First problem is solved in two steps. Firstly, each time AI shoots a ship diagonal tiles to the shot one are being 
                            blocked. Secondly, before every AI action player tiles are being checked for shot tiles. If any shot tile is found, 
                            AI is obligated to shoot at adjacent tiles. After hitting next ship tile three of four possible tiles to shoot 
                            in the next step are already blocked, one being marked as "shot" and two because of earlier blockage of diagonal tiles. 
                            This results in AI moving in only one plane.
                        </p>
                        <p>
                            Second problem is partly solved by first problem solution. Blocking diagonal tiles when hitting a ship lefts side 
                            tiles of the ship already protected from any attempts at shooting. But still there are two possible not blocked 
                            tiles at both ends of a ship. They are found during the action of looking for tiles marked as "shot". When such
                            tile is found not only it's marking is changed for "drowned" but also checked for adjacent tiles being available 
                            for shooting. If such tile is found it is being blocked.
                        </p>
                        <hr />
                        <h4>RANKING</h4>
                        <p>
                            Ranking of the game contains 8 best won games ordered by the lowest number of shots. It includes player's nick, 
                            time and date of the game as well. Each started game is being sent to database, making it possible to continue 
                            playing after restarting a server and to update the ranking every time a finished game qualifies.
                        </p>
                        <hr />
                        <p>
                            Pirate Wars is a game designed by the rules of "Battleships". It guarantees wide choice of player and AI boards options
                            and competitive play against smart AI opponent. Best scores are being listed in game ranking rooted in solid database.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/main.js"></script>

