
<main>
    <!-- menu -->
    <section>
        <div id="mainMenuSection">
            <div class="horizontalMenu"></div>
            <nav>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button id="playButton" class="menuButton">PLAY</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button id="rankingButton" class="unclickableMenuButton">RANKING</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button id="aboutButton" class="unclickableMenuButton">ABOUT</button>
                    </div>
                </div>

            </nav>
        </div>
    </section>

    <!-- game -->
    <section>
        <div id="boardSection">
            <div class="row">
                <nav>
                    <div class="horizontalMenu col-md-10 col-md-offset-1">
                        <!-- <div id="addShip" class="horizontalMenuButton">Add ship</div> -->
                        <div id="randomShips" class="horizontalMenuButton">Random ships</div>
                        <div id="startGame" class="unclickableButton">Start game</div>
                        <div id="randomShot" class="unclickableButton">Random shot</div>
                        <div id="newGame" class="unclickableButton">New game</div>
                        <div id="goToMainMenu" class="horizontalMenuButton" style="border:none">Main menu</div>
                    </div>
                </nav>
            </div>

            <div id="board">
                <div class="row">
                        <div id="playerboard" class="smallBoard col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2"></div>

                        <div id="AIboard" class="smallBoard col-xs-10 col-xs-offset-1 col-md-4"></div>
                </div>
            </div>

            <div class="row">
                <div id="history" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <div id="historyInfo" style="text-align:left"></div>
                    Welcome to Pirate Wars! <br />
                    Add random ships to start. <br />
                </div>
            </div>
        </div>
    </section>

    <!-- ranking -->
    <section></section>

    <!-- readme -->
    <section></section>

</main>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/main.js"></script>

